<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/t23/css/menu.css}">
</head>
<body>
    <h1>Benvenuto nella GameAPPS</h1>
    <div id="players" onclick="redirectToPlayers()">PLAYERS</div>
    <div id="admins" onclick="redirectToAdmins()">ADMINS</div>
    <script th:src="@{/t23/js/menu.js}"></script>
</body>
</html>


