body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,75,194,1) 37%, rgba(0,212,255,1) 100%);
}

.file_manager .file a:hover .hover,
.file_manager .file .file-name small {
    display: block
}

.file_manager .file {
    padding: 0 !important
}

    .file_manager .file .icon {
        text-align: center
    }

.file_manager .file {
    position: relative;
    border-radius: .55rem;
    overflow: hidden
}

    .file_manager .file .image,
    .file_manager .file .icon {
        max-height: 180px;
        overflow: hidden;
        background-size: cover;
        background-position: top
    }

    .file_manager .file .hover {
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
        transition: all 0.2s ease-in-out
    }

    .file_manager .file a:hover .hover {
        transition: all 0.2s ease-in-out
    }

    .file_manager .file .icon {
        padding: 15px 10px;
        display: table;
        width: 100%
    }

        .file_manager .file .icon i {
            display: table-cell;
            font-size: 30px;
            vertical-align: middle;
            color: #777;
            line-height: 100px
        }

    .file_manager .file .file-name {
        padding: 10px;
        border-top: 1px solid #f7f7f7
    }

        .file_manager .file .file-name small .date {
            float: right
        }

.folder {
    padding: 20px;
    display: block;
    color: #777
}

@media only screen and (max-width: 992px) {
    .file_manager .nav-tabs {
        padding-left: 0;
        padding-right: 0
    }

        .file_manager .nav-tabs .nav-item {
            display: inline-block
        }
}

.card {
    background: linear-gradient(to bottom, #f2f2f2, #dddddd);
    transition: .5s;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

a:hover {
    text-decoration: none;
}

/*MODIFICA (12/02/2024) : Gestione errori compilazione all'interno del form di login*/
.input-error {
    border: 2px solid red; /* Modifica il bordo per evidenziare l'errore */
    background-color: #ffebeb; /* Modifica il colore di sfondo per evidenziare l'errore */
}

    .input-error::placeholder {
        color: red;
    }

.login-signup-now,
.login-change-psw,
.login-invitation {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(37, 150, 190);
}

.login-signup-now:hover,
.login-change-psw:hover,
.login-invitation:hover {
    text-decoration: underline;
    color: rgb(63, 176, 241);
}

.position-relative .input-group-append .input-group-text {
    background: none;
    border: none;
    cursor: pointer;
}

#togglePassword {
    cursor: pointer;
}

.btn-login,
.btn-home {
    margin-top: 25px;
    width: 150px;
}

.form-check-label {
    font-size: 14px;
    text-align: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.remember-me-container {
    padding-left: 0;
    margin-left: 30px;
}

.remember-me-checkbox {
    margin-right: 0;
}

.input-background {
    background-color: rgba(135,206,250,0.3) !important;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 576px) {
    .container.w-50 {
        width: 100% !important;
    }

    .btn-login,
    .btn-home {
        width: 100%
    }

    .btn-login {
        margin-bottom: 10px;
    }
}

#usernameSuffix:hover {
    cursor: default;
}